# ZeekControl Configuration File

LogDir = /usr/local/zeek/spool
SpoolDir = /usr/local/zeek/spool
CfgDir = /usr/local/zeek/etc
PolicyDir = /usr/local/zeek/share/zeek/site
ScriptDir = /usr/local/zeek/share/zeek/site
BinDir = /usr/local/zeek/bin

ZeekArgs = -U .status
