---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Upgrade system packages
  apt:
    upgrade: dist

- name: Install common packages
  apt:
    name:
      - curl
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
