---
- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
    update_cache: yes

- name: Ensure fail2ban service is enabled
  service:
    name: fail2ban
    enabled: true
    state: started

- name: Deploy jail.local configuration
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban

- name: Ensure fail2ban is running
  service:
    name: fail2ban
    state: started
