plugin: amazon.aws.aws_ec2

regions:
  - us-east-1

filters:
  instance-state-name: running
  tag:Role: microservice

keyed_groups:
  - key: tags.Role
    prefix: role

hostnames:
  - private-ip-address

compose:
  ansible_host: private-ip-address
  ansible_user: admin
  ansible_ssh_private_key_file: ~/.ssh/labsuser.pem
