[Unit]
Description=Cowrie SSH Honeypot
After=network.target

[Service]
Type=forking
User={{ cowrie_user }}
WorkingDirectory={{ cowrie_home }}/cowrie
Environment="PATH={{ cowrie_home }}/cowrie/cowrie-env/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/authbind --deep {{ cowrie_home }}/cowrie/cowrie-env/bin/cowrie start
ExecStop={{ cowrie_home }}/cowrie/cowrie-env/bin/cowrie stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target