[honeypot]
hostname = {{ cowrie_hostname }}

[ssh]
enabled = true
listen_endpoints = tcp:{{ cowrie_listen_port }}:interface={{ cowrie_listen_interface }}
authbind = /usr/bin/authbind
version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.1

[telnet]
enabled = false